<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/myPageDetail.css') }}">
</head>
<body>
  <div class="navbar">
    <div class="home">홈페이지</div>
  </div>
  <div class="container">
    <p class="title">웹 미니 소망 프로젝트</p>
    <p class="author">작성자</p>
    <div class="commentContainer">
      <div class="comment">
        <p class="content">댓글</p>
        <p class="comment_author">이름</p>
      </div>
    </div>
  </div>
</body>
</html>